<!-- Generated template for the BComponent component -->
<div>
  {{text}}
</div>
<!-- <ion-header>
    <ion-navbar color="yel">
        <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      <ion-title text-center><img src="../../assets/imgs/首页/桔家.png" style="width:15%;height:15%"></ion-title>
        <button ion-button icon-only menuToggle end>
          <ion-icon name="search"></ion-icon>
        </button> 
    </ion-navbar>
    
<ion-content>
  <ul class="navList">
        <li class="first">推荐</li>
        <li (click)=goTuijian()>家居</li>
        <li>餐厨</li>
        <li>床上用品</li>
      </ul>
  </ion-header>
</ion-content> -->
